<h1>修改文章</h1>
<div class="ui segment">
  <%= render partial: 'layouts/errors', locals: {title:'修改失败', error: @article} %>
  <%= render 'form' %>
  <%= link_to 'Show', [:admin,@article], class: 'ui button green' %> |
  <%= link_to 'Back', admin_articles_path, class: 'ui button red' %>
</div>
